/*
Daily Chores
James Black
VFW : 1305
*/
body {
    background-color: silver;
    
}
h1 {
    background-repeat: true;
    font-family: Garamond, sans-serif,serif;
    text-decoration: none;
    text-align: center;
    text-shadow: grey;
    font-size: 40px;
    color: black;
    padding:  20px;
    height: 20px;
    background-color: none;
    text-transform: none;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 2px;
    
}
a {
    color: blue;
}
input {
    border: 1px solid black
    
}
ul {
    color: #333;
}
p {
    font-family: serif;
    font-size: large;
}
legend {
    font-family: sans-serif;
}

.addNew
.even{background: #fff; }
